{% extends "socialnetwork/base.html" %}

{% block Top %}
<div>
    <a id="id_login_link" href="{% url 'login' %}">
        <a id="id_nav_profile" href="{% url 'myProfile' %}">{{user.first_name}} {{user.last_name}}</a>
        <a id="id_nav_global_stream" href="{% url 'home' %}">Global</a>
        <a id="id_nav_follower_stream" href="{% url 'followerStream' %}">Follower</a>
        <a id="id_nav_logout"  href="{% url 'logout' %}">Logout</a></li>
    </a>
<div>
{% endblock %}

{% block Main %}
<div id="id_page_name">Global Stream</div>



    <form action="{% url 'home' %}" method="POST">
    <label for="id_post_input_text">New Post:</label>
    <input type="text" name="post_input_text" maxlength="2000" required="" id="id_post_input_text">
    <button id="id_post_button">Submit</button>
    {% csrf_token %}
    </form>

<div>

<ul id="my-posts-go-here">
</ul>


<script>
    window.onload = getList
    window.setInterval(getList, 5000);
</script>
    

</div>
{% endblock %}

    


